#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  position: fixed;
  left: 0px;
  top:0px;
  bottom: 0px;
  z-index: 100;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  background-color: white;
  color: white;
}
.list-group-flush .list-group-item {
  background-color: white !important;
  color: white;
  width: 233px;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  margin-left: 234px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    background-color: white !important;
    color: white;
    width: 234px;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
a.list-group-item:hover {
  background-color: white !important;
  color: black !important;
}
a.list-group-item {
  color: #0000004f !important;
  border: none;
}
a.sidebar-selected {
  color: black !important;
}
.sidebar-heading > a {
  text-decoration: none;
  color: black;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
}
